<section class="episode">
    <div class="episode__container">
        <div class="episode__name">Episodio:&nbsp;{{episodeDetails.name}}</div>
        <div>{{episodeDetails.episode}}</div>
        <div><strong>Emisión:&nbsp;</strong>{{episodeDetails.air_date | date: "dd-MMM-yyyy"}}</div>
        <div><strong>Creación:&nbsp;</strong>{{episodeDetails.created | date: "dd-MMM-yyyy hh:mm z"}}</div>
        <div class="episode__title">Personajes del Episodio</div>
        <div class="episode__gallery">
            <div class="episode__card" *ngFor="let urlCharacter of episodeDetails.characters">
                <app-character-info-url [urlCharacter]="urlCharacter"></app-character-info-url>
            </div>
        </div>
    </div>
</section>