@import "fonts";
@import "variables";
@import "responsive";
//@import "animations";
//@import "mixins";

.footer {
  background-color: $background-color;
  background-image: $background-image;
  color: $font-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  @include mobile {
    flex-direction: column;
  }

  &__text {
    font-family: $font-family;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(120%);
    }
  }

  &__icon-group {
    transition-duration: 0.3s;

    @include mobile {
      margin: 1rem 0 0.5rem 0;
    }

    & > a {
      margin-right: 0.5rem;
      color: $font-color;

      @include mobile {
        margin-right: 0.2rem;
      }
    }

    &:hover {
      transform: scale(120%);
    }
  }
}
