<footer class="footer">
    <div class="footer__text"><strong>&copy;&nbsp;Copyright&nbsp;2021&nbsp;&#8226;&nbsp;Jesús&nbsp;Leal</strong></div>
    <div class="footer__icon-group">
        <a href="https://www.linkedin.com/in/jesusleal/" title="LinkedIn" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/lealp22/" title="Instagram" target="_blank">
            <i class="fab fa-instagram-square fa-2x"></i>
        </a>
        <a href="https://github.com/lealp22" title="Github" target="_blank">
            <i class="fab fa-github-square fa-2x"></i>
        </a>
    </div>
</footer>
