<section class="location">
    <div class="location__name">{{locationDetails.name}}</div>
    <div><strong>Tipo:&nbsp;</strong>{{locationDetails.type"}}</div>
    <div><strong>Dimensión:&nbsp;</strong>{{locationDetails.dimension"}}</div>
    <div><strong>Creación:&nbsp;</strong>{{locationDetails.created | date: "dd-MMM-yyyy hh:mm z"}}</div>
    <h2>Residentes</h2>
    <div class="location__gallery" *ngFor="let urlCharacter of locationDetails.residents">
        <app-character-info-url [urlCharacter]="urlCharacter"></app-character-info-url>
    </div>
</section>