// Custom Properties CSS
// Global variables definition

//$background-color: #2d8e87;
$background-color: #2D6180;
$background-color: #4E79BA;
//$background-color: #2a9d8f;
//$background-color: #2a9d8f;
//$background-color: #13b0cd;
//$background-color: #298a3f;
//$background-color: #5B6B85;
//$background-color: #295874;
//$background-color: #2b5d7a;
//$background-color: #2d6180;
//$background-color: #446683;
//$background-color: #5b6b85;
//$background-color: #43848a;
//$background-color: #9ad8d6;
//$background-color: #93d8d9;
//$background-color: #a9d5e8;


//$filter-background-color: #99D98C;
//$filter-background-color: #91ca57; //verde p/@error
//$filter-background-color: #00b0c8; //Rick and Morty
$background-image: linear-gradient(90deg, #295874ff, #2b5d7aff, #2d6180ff, #446683ff, #5b6b85ff, #43848aff, #2a9d8fff);
$filter-background-color: #a9d5e8;
$btn-background-color: white;
$font-color: white;
$btn-border-radius: 1rem;
$shadow-color: #333;
$border-radius: 0.5rem;
$font-size-about-text: 2rem;
$link-text-color: yellow;
$text-shadow-efect: 0px 0px 10px #BFD0FF, 0px 0px 15px #BFD0FF, 0px 0px 20px #BFD0FF, 0px 0px 20px #BFD0FF;