// Custom Properties CSS
// Global variables definition

$background-color: #4E79BA;
$background-image: linear-gradient(90deg, #295874ff, #2b5d7aff, #2d6180ff, #446683ff, #5b6b85ff, #43848aff, #2a9d8fff);
$border-radius: 0.5rem;
$btn-background-color: white;
$btn-border-radius: 1rem;
$container-background-color: white;
$container-font-color: black;
$filter-background-color: #a9d5e8;
$font-color: white;
$font-size-about-text: 2rem;
$home-background-color: black;
$home-font-color: white;
$link-text-color: yellow;
$shadow-color: #333;
$card-box-shadow: 0.3rem 0.3rem 0.3rem $shadow-color;
$text-shadow-efect: 0px 0px 10px #BFD0FF, 0px 0px 15px #BFD0FF, 0px 0px 20px #BFD0FF, 0px 0px 20px #BFD0FF;
$text-underline-color: #2D6180;