@import "fonts";
@import "variables";
@import "responsive";
@import "animations";
//@import "mixins";

.navbar {
  color: $font-color;
  background-color: $background-color;
  background-image: $background-image;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition-duration: 0.2s;
  font-family: $font-family;

  @include mobile {
    flex-direction: column;
    flex-wrap: unset;
  }

  &__img {
    width: 20%;

    @include mobile {
      width: 50%;
    }

    &:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
  }

  &__group {
    @include mobile {
      display: contents;

      &>span {
        display: none;
      }
    }
  }

  &__link {

    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
      color: $link-text-color;
      text-shadow: $text-shadow-efect;
    }

    @include mobile {
      font-size: unset;
    }
  }
}