<header>
    <nav class="navbar">
        <img class="navbar__img" src="assets/images/Rick_and_Morty_Logo_and_Image.png" alt="Rick And Morty">
        <div class="navbar__group">
            <a class="navbar__link" routerLink='/'>Principal</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/characters'>Personajes</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/episodes'>Episodios</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/locations'>Localizaciones</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/about'>Acerca de</a>
        </div>
    </nav>
</header>