<header>
    <nav class="navbar">
        <img class="navbar__img" src="assets/images/Rick_and_Morty_Logo_and_Image.png" alt="Rick And Morty">
        <div>
            <a class="navbar__link" routerLink='/'>Home</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/characters'>Characters</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/episodes'>Episodes</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/locations'>Locations</a>
            <span>&#8226;</span>
            <a class="navbar__link" routerLink='/about'>About</a>
        </div>
        <div class="navbar__search-icon">
            <i class="fas fa-search"></i>
        </div>
    </nav>
</header>