<section class="about">
    <app-page-title [text]="'Acerca de'"></app-page-title>
    <div>
        <p class="about__text">Está página web se ha construido con:</p>
        <div class="about__img-group">
            <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="Angular 12" />
            <span>&#43;</span>
            <img src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" alt="Sass" />
        </div>
        <p class="about__text">Ha sido creada para poder dar forma a la información de la serie de <a class="about__link"
                href="https://en.wikipedia.org/wiki/Rick_and_Morty" target="_blank">Rick And Morty</a> disponible a
            través de la siguiente API:</p>
        <a class="about__link" href="https://rickandmortyapi.com/">The Rick and Morty API</a>
        <p class="about__text">Forma parte de las prácticas realizadas para el <strong>Bootcamp Full Stack
                Developer</strong> de:
        <p>
    </div>
    <div class="about__card">
        <a href="http://upgrade-hub.com" title="Upgrade Hub" target="_blank">
            <img class="about__img" src="assets/images/upgradehub.svg" alt="Upgrade Hub" />
        </a>
    </div>

    <div class="card-flex-center">
        <a href="#">
            <img class="arrow-up floating" src="https://www.svgrepo.com/show/125555/up-arrow.svg" alt="Arriba">
        </a>
    </div>

</section>