@import "fonts";
@import "variables";
@import "responsive";
@import "animations";
//@import "mixins";

.about {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size-about-text;
    text-align: center;
    align-items: center;
    
    &__link:hover {
        color: $link-text-color;
        text-shadow: $text-shadow-efect;
    }
    
    &__img {
        //max-width: 80%;
        width: fit-content;
        
        &:hover {
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
    }
}


.card-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.arrow-up {
  position: fixed;
  left: 10vw;
  bottom: 10vw;
  width: 5vw;
  max-width: 50px;
  position: sticky;
  margin-top: 10px;

  @include mobile {
    display: none;
  }

  &:hover {
    animation: updown 0.5s;
    animation-iteration-count: infinite;
  }
}
