@import "fonts";
@import "variables";
@import "responsive";
//@import "animations";
@import "mixins";

// Custom Properties CSS
.filter {
  background-color: $background-color;
  background-image: $background-image;
  font-family: $font-family;
  padding: 1rem;

  &__container {
    padding: 0.7rem 1rem;
    background-color: $filter-background-color;
    border-radius: $border-radius;
  }

  &__search {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  &__input {
    font-family: $font-family;
    border-radius: $border-radius;
    width: 30%;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 2;

    @include mobile {
      padding-left: 0.2rem;
      font-size: unset;
      width: 60%;
    }
  }

  &__label {
    font-weight: bold;
    margin: 0 0.5rem;
  }

  &__btn {
    @include btn-custom;
  }

  &__clean-btn {
    position: relative;
    left: -85px;

    @include mobile {
      left: -62px;
      top: -8px;
    }
  }
}
