<section class="home">
    <img class="home__img" src="assets/images/Rick y morty2.png" alt="Rick y Morty">
    <div class="home__slot">
        <div class="home__text">Conoce sobre:</div>
        <div class="home__links">
            <a class="home__link" routerLink='/characters'>Personajes</a>
            <a class="home__link" routerLink='/episodes'>Episodios</a>
            <a class="home__link" routerLink='/locations'>Localizaciones</a>
            <a class="home__link" routerLink='/about'>Acerca de</a>
        </div>
    </div>
</section>